[Unit]
Description=Enable Rockchip camera engine rkaiq
DefaultDependencies=no
#Before=rockchip.service

[Service]
Type=simple
ExecStart=/usr/bin/rkaiq_3A_server
Restart=on-failure
RestartSec=2
User=root
Group=root

[Install]
WantedBy=sysinit.target
