[Unit]
Description=Enable Rockchip camera engine rkaiq
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/rkaiq_3A_server
Restart=no
User=root
Group=root

[Install]
WantedBy=sysinit.target
