[Unit]
Description=Bluetooth AIC8800
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/script -qec "/usr/local/bin/bt-enable.sh" /dev/null

[Install]
WantedBy=multi-user.target
